In [1]:
import pandas as pd

In [2]:
data = {
    'Group': ['A', 'A', 'A', 'B', 'B', 'B'],
    'Value': [10, 15, 20, 5, 8, 12]
}

# Create a DataFrame
df = pd.DataFrame(data)

In [3]:
df

  Group  Value
0     A     10
1     A     15
2     A     20
3     B      5
4     B      8
5     B     12

In [9]:
# Sort the DataFrame by 'Group' and reset the index
df = df.sort_values(by='Group').reset_index(drop=True)

# Calculate the rolling mean within each group
df['mean_rolling'] = df.groupby('Group')['Value'].rolling(window=2,min_periods=1).mean().reset_index(drop=True)

In [10]:
df

  Group  Value  mean_rolling
0     A     10          10.0
1     A     15          12.5
2     A     20          17.5
3     B      5           5.0
4     B      8           6.5
5     B     12          10.0